     

      /* Footer  */

      .footer {
        background-color: #37003c;
        padding: 2rem 5rem;
    }
    .footer-item{
        justify-content: space-between;
    }
    .footer h4{
        font-weight: 900;
    }
    .footer li{
        list-style-type: none;
    }
    .league-item-a {
        padding-left: 0;
    }
    .league-item-a li{
        padding-top: 0.7rem;
    }
    .league-item-a a{
        text-decoration: none;
        font-size: 0.8rem;
        color: white;
        width: 40%;
        padding-right: 2rem;
        padding-top: 0.7rem;
    }
    .league-item-a a:hover{
        color: rgb(253, 39, 75);
    }
    .league-item-a a img{
        color: white;
        width: 0.5rem;
        margin-left: 0.2rem;
    }
    .main-footer {
        border-top: 2px solid rgb(117, 113, 113);
        background-color: #37003c;
        height: 100%;
        justify-content: space-between;
        padding: 1.8rem 5rem;
    }
    .main-footer a{
        margin: 0;
        text-decoration: none;
        font-size: 0.75rem;
        color: white;
    }
    .main-footer-item {
        justify-content: space-between;
        margin: 0;
    }
    .main-footer-item2 {
        justify-content: space-between;
        margin: 0;
    }
    .main-footer-item2 li{
        font-size: 0.5rem;
        margin-left: 1.5rem;
    }
    