        /* Form  */
     form {
        padding: 2.5rem 6.5rem;
        justify-content: space-between;
    }
    form h5{
        color: #37003c;
        font-weight: bold;
        margin-top: 2.4rem;
        margin-right: 3rem;
    }
    form p{
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        color: #37003c;
    }
    form input {
        border: 1px solid transparent;
        border-bottom: 2px solid #963cff;
        width: 23vw;
        padding: 0.5rem 1rem;
        background-color: rgb(224, 230, 236);
    }
    form button {
        border: 1px solid transparent;
        border-radius: 0.4rem;
        background: #00ff87;
        width: 16vw;
        height: 6.7vh;
        padding: 0.5rem;
        margin-top: 2rem;
        box-shadow: 0.5rem 0.5rem 1rem rgb(216, 216, 216);
    }
    form a{
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: bold;
        color: #37003c;
        margin-top: 2.5rem;
    }
    
    .login {
        padding: 0 6.5rem;
    }
    .login hr{
        border: 1px solid rgb(141, 141, 146);
        width: 100%;
        height: 0.1rem;
    }
    .login p{
        font-size: 0.9rem;
        color: #37003c;
        width: 12rem;
        padding: 0 0.3rem;
    }
    
    .social-media {
        justify-content: space-between;
        margin: 0.8rem 14rem;
    }
    .social-media div:hover {
        cursor: pointer;
    }
    .social-media-item1 {
        border: 1px solid transparent;
        border-radius: 0.2rem;
        background: #1877f2;
        width: 16vw;
        height: 6.7vh;
        padding: 0.6rem 4rem;
    }
    .social-media-item2 {
        border: 1px solid transparent;
        border-radius: 0.2rem;
        background-color: #1ad2ff;
        width: 16vw;
        height: 6.7vh;
        padding: 0.6rem 4rem;
    }
    .social-media-item3 {
        border: 1px solid transparent;
        border-radius: 0.2rem;
        width: 16vw;
        height: 6.7vh;
        padding: 0.6rem 4rem;
        box-shadow: 1rem 0.5rem 1.5rem #d3cdcd;
    }
    .social-media-item4 {
        border: 1px solid transparent;
        border-radius: 0.2rem;
        background: #000;
        width: 16vw;
        height: 6.7vh;
        padding: 0.6rem 4.5rem;
    }
    .social-media a{
        text-decoration: none;
        color: #ffff;
        font-weight: bold;
        margin-left: 0.5rem;
    }
    .social-media-item3 a{
        color: #37003c;
    }