    
     /* Nav Containers Fixed  */

    .nav-containers-fixed {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 9;
    }
    
    
    /* Nav Menu  */

      .nav-menu {
        background: #3c0f4d;
        height: 9vh;
    }
    .nav-menu-div-img{
        border: 1px solid white;
        border-radius: 50%;
        background-color: white;
        position: absolute;
    }
    .nav-menu .logo{
        height: 16vh;
        left: 1.7vh;
    }
    .nav-menu-ul {
        width: 58%;
        margin-left: 8rem;
    }
    .nav-menu-li {
        list-style-type: none;
        padding: 0.75rem;
    }
    .nav-menu-li img{
        width: 0.45vw;
        margin-left: 0.5rem;
    }
    .nav-menu-a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-weight: 900;
    }
    .nav-menu-line {
        border: 1px solid rgb(70, 74, 77);
        height: 5vh;
        width: 0;
    }
    .nav-menu-series {
        font-size: 1rem;
    }
    .nav-menu-li-premier {
        background-color: #963cff;
        position: absolute;
        margin-top: 0.9rem;
        z-index: 1;
        left: 7rem;
        height: 32vh;
        width: 18vw;
        padding-top: 0.5rem;
        display: none;
    }
    .nav-menu-li-li {
        list-style-type: none;   
        padding-top: 0.5rem;
    
    }
    .nav-menu-li-a {
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
        font-weight: 700;
    }
    .nav-menu-li-a:hover{
        text-decoration: underline;
    }
    
    .nav-menu-fantasy-div {
        background-color: #963cff;
        position: absolute;
        left: 17rem;
        height: 10vh;
        width: 18vw;
        margin-top: 0.9rem;
        z-index: 1;
        padding: 1rem 0;
        display: none;
    }
    
    .nav-menu-community-div {
        background-color: #963cff;
        position: absolute;
        left: 25rem;
        height: 24vh;
        width: 25vw;
        margin-top: 0.9rem;
        z-index: 1;
        padding: 1rem 0;
        display: none;
    }
    
    .nav-menu-about-div {
        background-color: #963cff;
        position: absolute;
        left: 36rem;
        height: 34vh;
        width: 28vw;
        margin-top: 0.9rem;
        z-index: 1;
        padding: 1rem 0;
        display: none;
    }
    
    .nav-menu-more-div {
        background-color: #963cff;
        position: absolute;
        left: 47rem;
        height: 28vh;
        width: 20vw;
        margin-top: 0.9rem;
        z-index: 1;
        padding: 1rem 0;
        display: none;
    }


        /* Nav Menu Hover  */
    .nav-menu-li:hover div {
        display: flex;
    }
    