

 /* Sponsors  */

.sponsors {
    border: 1px solid transparent;
    border-top: 4px solid #3ea9ff;
    border-bottom: 2px solid rgb(219, 221, 221);
    justify-content: space-between;
    margin: 1rem 4.5rem;
    padding: 0.5rem 1rem;
}
.sponsors-item img{
    width: 15vh;
    height: 6vh;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.sponsors-item p{
    cursor: pointer;
    font-size: 0.8rem;
}


.sponsors2 {
    justify-content: space-between;
    margin: 2rem 12rem;
}